services:
  homebridge:
    image: ${HOMEBRIDGE_IMAGE}
    container_name: ${CONTAINER_HOSTNAME}
    hostname: ${CONTAINER_HOSTNAME}
    domainname: ${CONTAINER_DOMAIN_NAME}
    networks:
      homebridge_network:
        ipv4_address: ${IP_ADDRESS:-}
    restart: always
    cap_add:
      - SYS_ADMIN 
    devices:
      - /dev/fuse:/dev/fuse:rwm
    environment:
      NOBLEFACTOR_HOMEBRIDGE_ISO_SUBDIVISION: ${ISO_SUBDIVISION}
      PUID: 1000  # first user created on most systems
      PGID: 0     # root group => can elevate permissions if needed
    healthcheck:
      test: ["CMD-SHELL", "curl --cacert .config/certificates/public-key.pem --fail --silent --output /dev/null --show-error --write-out \"Total time: %{time_total}s\\n\" https://localhost || exit 1"]
      interval: 60s
      retries: 5
      start_period: 300s
      timeout: 2s
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined
