services:
  homebridge:
    image: ${HOMEBRIDGE_IMAGE}
    container_name: ${CONTAINER_HOSTNAME}
    hostname: ${CONTAINER_HOSTNAME}
    domainname: ${CONTAINER_DOMAIN_NAME}
    networks:
      homebridge_network:
        ipv4_address: ${IP_ADDRESS:-}
    restart: always
    cap_add:
      - SYS_ADMIN 
    devices:
      - /dev/fuse:/dev/fuse:rwm
    environment:
      NOBLEFACTOR_CONTAINER_ISO_SUBDIVISION: ${ISO_SUBDIVISION}
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined
