services:
  homebridge:
    image: noblefactor/homebridge:${NOBLEFACTOR_VERSION}
    container_name: homebridge.${ISO_SUBDIVISION}
    network_mode: host
    restart: always
    cap_add:
      - SYS_ADMIN 
    devices:
      - /dev/fuse
    environment:
      NOBLEFACTOR_HOMEBRIDGE_ISO_SUBDIVISION: ${ISO_SUBDIVISION}
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
