services:
  homebridge:
    image: noblefactor/homebridge:${NOBLEFACTOR_VERSION}
    container_name: ${HOMEBRIDGE_HOSTNAME}
    hostname: ${HOMEBRIDGE_HOSTNAME}
    domainname: ${HOMEBRIDGE_DOMAIN_NAME}
    networks:
      homebridge_network:
        ipv4_address: ${IP_ADDRESS}
    restart: always
    cap_add:
      - SYS_ADMIN 
    devices:
      - /dev/fuse:/dev/fuse:rwm
    environment:
      NOBLEFACTOR_HOMEBRIDGE_ISO_SUBDIVISION: ${ISO_SUBDIVISION}
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined
