services:
  homebridge:
    image: noblefactor/homebridge:${NOBLEFACTOR_VERSION}
    network_mode: host
    restart: always
    cap_add:
      - SYS_ADMIN 
    devices:
      - /dev/fuse
    environment:
      RCLONE_CONF: ${RCLONE_CONF}
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
