version: "3.9"
services:
  homebridge:
    image: noblefactor/homebridge:${NOBLEFACTOR_VERSION}
    container_name: homebridge-${ISO_SUBDIVISION}
    networks:
      - external_network
    hostname: ${HOSTNAME}
    restart: always
    cap_add:
      - SYS_ADMIN 
    devices:
      - /dev/fuse:/dev/fuse:rwm
    environment:
      NOBLEFACTOR_HOMEBRIDGE_ISO_SUBDIVISION: ${ISO_SUBDIVISION}
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined
